<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
                <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                </div>
                <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                    
                    <div class="container">
                        <header class="row">
                          <div class="col-md-12 ">
                            <label for=""><i class="fas fa-phone fa-sm"></i>051-369609</label> <label for=""><i class="far fa-envelope fa-sm"></i>web@diresapuno.gob.pe</label>
                          </div>
                          <div class="col-md-12 text-center">
                            <div class="row">
                              <div class="col-md-4">
                                <figure class="col-md-6">
                                  <img src="assets/0.png" alt="logo-diresa-puno">
                                </figure> 
                              </div>
                              
                            </div>  
                          </div>
                        </header>
                      </div>
                </div>
    
    
                <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                </div>
                <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                    <a href="#overview" class="mdl-layout__tab is-active">inicio</a>
                    <a href="#features" class="mdl-layout__tab">Institucional</a>
                    <a href="#features" class="mdl-layout__tab">Directorio</a>
                    <a href="#features" class="mdl-layout__tab">Órgano</a>
                    <a href="#features" class="mdl-layout__tab">Transparencia</a>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
              <i class="material-icons" role="presentation">add</i>
              <span class="visuallyhidden">Add</span>
            </button>
            <h3>NOr </h3>  
                   
                </div>
            </header>
    
            <img src="../assets/01.png" alt="">
    
           
            <main class="mdl-layout__content ">
                    
                <div class="mdl-layout__tab-panel is-active " id="overview ">
     <div class="col-md-12 ">
            <div class="col-md-6 ">
            <div class="carrusel">
                   <img src="../assets/04.jpg" alt="" height="80% " width="80%">
    
                   </div>
                </div>
    
       
                <div class="col-md-3">
                    <p   style="border-style:solid">
                        <img src="../assets/n1.jpeg " alt="" height="50%" width="50%">
                            Más de 800, 000 personas se suicidan cada año en el mundo, según la OMS
                    </p>
                    <p style="border-style:solid">
                        <img src="../assets/n2.jpg" alt="" height="50%" width="50%">
                            ¿Por qué te recomendamos estudiar Medicina?
                    </p>
                    <p style="border-style:solid">
                           hubbhhbhhbhbhbhbbhbhbhhbbhbhhbhhbbh Niña quedó embarazada por violación sexual y su agresor está libre
                    </p>
                    <p style="border-style:solid">
                            
                    </p>
                </div>
     
         
                <div class="col-md-3">
      
              <br><div>
                    <img src="../assets/d.jpg" alt=""  height="50%" width="50%"></div>
                    <div>
                    <br><img src="../assets/w.png" alt=""  height="60%" width="60%">
                </div>
                    <br><img src="../assets/s.jpg" alt=""  height="60%" width="60%">
                    <div>
                    <br> <img src="../assets/t.png" alt=""  height="60%" width="60%">
                </div>
                </div>
    
      </div>
           <div class="col-md-12">
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp ">
                        <div class="mdl-card mdl-cell mdl-cell--12-col ">
                            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing ">
                                <h4 class="mdl-cell mdl-cell--12-col ">Documentos</h4>


                                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone ">
                                    <div class="section__circle-container__circle mdl-color--primary "></div>
                                </div>
                                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone ">
                                    <h5>Resoluciones Diresa Puno</h5>
                                
                                </div>
                                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone ">
                                        <div class="section__circle-container__circle mdl-color--primary "></div>
                                    </div>
                                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone ">
                                    <h5>Comunicados Diresa PUNO</h5>
                                    </div>
                                    
                                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone ">
                                            <div class="section__circle-container__circle mdl-color--primary "></div>
                                        </div>
                                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone ">
                                    <h5>Ascensos y procesos de asignación</h5>
                                   
                                </div>
                                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone ">
                                    <div class="section__circle-container__circle mdl-color--primary "></div>
                                </div>
                                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone ">
                                    <h5>Convocatorias CAS 2018</h5>
                                    
                                </div>
                                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone ">
                                    <div class="section__circle-container__circle mdl-color--primary "></div>
                                </div>
                                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone ">
                                    <h5>SERUM 2018 -1 DIRESA</h5>
        
                                </div>
                                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone ">
                                    <div class="section__circle-container__circle mdl-color--primary "></div>
                                </div>
                                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone ">
                                    <h5>Terminos de referenci - 2018</h5>
                                 
                                </div>
                                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone ">
                                    <div class="section__circle-container__circle mdl-color--primary "></div>
                                </div>
                                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone ">
                                    <h5>Aptos y no Aptos 2018</h5>
                                  
                                </div>
                            </div>
                            <div class="mdl-card__actions ">
                                <a href="# " class="mdl-button ">Más</a>
                            </div>
                        </div>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon " id="btn2 ">
                <i class="material-icons ">more_vert</i>
              </button>
                        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right " for="btn2 ">
                            <li class="mdl-menu__item ">Lorem</li>
                            <li class="mdl-menu__item " disabled>Ipsum</li>
                            <li class="mdl-menu__item ">Dolor</li>
                        </ul>
                    </section>
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp ">
                        <div class="mdl-card mdl-cell mdl-cell--12-col "> <style></style>
                                <p>Dirección Regional de Salud Puno - Jr. José Antonio Encinas N 145 Puno - Perú
                                Teléfono 1: 051-369609, E-mail: info@diresapuno.gob.pe</p>
                            
                        </div>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon " id="btn3 ">
                <i class="material-icons ">more_vert</i>
              </button>
                        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right " for="btn3 ">
                            <li class="mdl-menu__item ">Lorem</li>
                            <li class="mdl-menu__item " disabled>Ipsum</li>
                            <li class="mdl-menu__item ">Dolor</li>
                        </ul>
                    </section>
                </div>
                </div>
           
    
          
            </main>
        </div>
    
    
    </body>
    
    
    <router-outlet></router-outlet>